/* General additions to all pages to create an overal similar experience*/
h1 {
    text-align: center;
  }

  .Image {
    text-align: center;
  }

  #col {
    border: 1px solid;
    border-radius: 25px;
  }

  .allcols {
    border: 1px solid;
    border-radius: 25px;
    background-color: #fffafa;
  }

  /* Specific additions to pages */